.my-custom-swiper {
  width: 100%;
}

.slide-content {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  height: 100%;
  color: white;
  padding: 20px;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 20px;
}

p {
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slide-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin: 10px 0;

}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
}
